:root{
    --cor1: #475359;
    --cor2: #657780;
    --cor3: #7A909A;
    --cor4: #839BA6;
    --cor5: #B5D6E6;





}
body{
    text-align: center;
    background-image: url(imagens/Background.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#slogan{
    animation-name: animado;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 1s;
    
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes animado{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
@font-face {
    font-family: "fonte principal";
    src: url(Fontes/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family: "fonte item";
    src: url(Fontes/GloriaHallelujah-Regular.ttf);
}
h1{
    color: white;
    font-size: 2.5em;
}
#facebook{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
}
#facebook:hover{
    transition: 0.1s ease-in-out;
    scale: 1.1;
}
#instagram{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
}
#instagram:hover{
    transition: 0.1s ease-in-out;
    scale: 1.1;
}
h2{
    margin-top: 50px;
    text-align: center;
    font-size: 1em;
    height: 50px;
    line-height: 50px;
    color: white;
}
aside{
    text-align: center; 
}
::-webkit-scrollbar{
    width: 20px;
    background-color: #88a4b1;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #4b595f;
    padding: 10px;
    margin: 0 auto;
}
::-webkit-scrollbar-corner{
    background-color: #829ba7;
}
section> span{
    margin-left: 10px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
#menus >span{
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
}
a{
    font-family: fonte principal;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    margin: 20px
}
a:hover{
    transition: 0.2s ease-in-out;
    color: white;
}
h1{
    font-family: "fonte principal";
    background-color: #132730b0;
    border-radius: 10px;
    padding: 10px;
    font-size: 3em; 
}
header> picture> a > img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
header> picture > p{
    position: relative;
    color: white;
    font-size: 1.3em;
    font-family: "fonte principal";
}
header > picture{
    display: inline-block;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}
header > picture> a > img:hover{
    scale: 1.1;
    transition: 0.1s ease-in-out;
}
::selection{
    padding: 10px;
    background-color: #008acabd;
    color: black;
}
header {
    margin-top: 100px;
}
#redes{
    padding: 20px;
}
